## Building a CNN to predict a number based on the pixel images

In [62]:
import keras
from keras.preprocessing.image import ImageDataGenerator
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten, Lambda
from keras.layers import Conv2D, Conv1D, MaxPooling2D, MaxPooling1D
from keras.optimizers import Adam ,RMSprop
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## Read a training file

In [63]:
df = pd.read_csv('C:/Users/taihs/OneDrive/Documents/digit recognizer/train.csv')

In [64]:
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
X_train = (df.iloc[:,1:].values).astype('float32') # all pixel values
y_train = df.iloc[:,0].values.astype('int32') # only labels i.e targets digits

In [66]:
X_train = X_train.reshape(X_train.shape[0], 28, 28,1)
X_train.shape

(42000, 28, 28, 1)

In [67]:
from keras.utils.np_utils import to_categorical
y_train= to_categorical(y_train)
num_classes = y_train.shape[1]
num_classes

10

In [68]:
X = X_train
y = y_train

In [69]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=8)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)
X_train.shape[1:]

Train set: (33600, 28, 28, 1) (33600, 10)
Test set: (8400, 28, 28, 1) (8400, 10)

(28, 28, 1)

In [70]:
mean_px = X_train.mean().astype(np.float32)
std_px = X_train.std().astype(np.float32)

def standardize(x): 
    return (x-mean_px)/std_px

## Create a CNN model

In [72]:
def get_cnn_model():
    model = Sequential([
        Lambda(standardize, input_shape=(28,28,1)),
        Conv2D(32,(3,3), activation='relu'),
        Conv2D(32,(3,3), activation='relu'),
        Conv2D(32,(3,3), activation='relu'),
        Conv2D(32,(3,3), activation='relu'),
        MaxPooling2D(),
        Conv2D(64,(3,3), activation='relu'),
        Conv2D(64,(3,3), activation='relu'),
        Conv2D(64,(3,3), activation='relu'),
        Conv2D(64,(3,3), activation='relu'),
        MaxPooling2D(),
        Flatten(),
        Dense(512, activation='relu'),
        Dense(10, activation='softmax')
        ])
    model.compile(Adam(), loss='categorical_crossentropy',
                  metrics=['accuracy'])
    return model

In [73]:
model= get_cnn_model()
model.optimizer.lr=0.01

In [74]:
batch_size = 32

# initiate RMSprop optimizer
opt = keras.optimizers.RMSprop(lr=0.0005, decay=1e-6)

# Let's train the model using RMSprop
model.compile(loss='categorical_crossentropy',
              optimizer=opt,
              metrics=['accuracy'])

model.fit(X_train, y_train,
              batch_size=batch_size,
              epochs=10,
              validation_data=(X_test, y_test),
              shuffle=True)

Epoch 1/10
1050/1050 [==============================] - 97s 92ms/step - loss: 0.2401 - accuracy: 0.9229 - val_loss: 0.1052 - val_accuracy: 0.9687
Epoch 2/10
1050/1050 [==============================] - 96s 92ms/step - loss: 0.0635 - accuracy: 0.9810 - val_loss: 0.0566 - val_accuracy: 0.9829
Epoch 3/10
1050/1050 [==============================] - 97s 92ms/step - loss: 0.0450 - accuracy: 0.9872 - val_loss: 0.0607 - val_accuracy: 0.9819
Epoch 4/10
1050/1050 [==============================] - 97s 92ms/step - loss: 0.0361 - accuracy: 0.9893 - val_loss: 0.0502 - val_accuracy: 0.9851
Epoch 5/10
1050/1050 [==============================] - 91s 87ms/step - loss: 0.0323 - accuracy: 0.9904 - val_loss: 0.0609 - val_accuracy: 0.9848
Epoch 6/10
1050/1050 [==============================] - 96s 91ms/step - loss: 0.0255 - accuracy: 0.9929 - val_loss: 0.0503 - val_accuracy: 0.9886
Epoch 7/10
1050/1050 [==============================] - 96s 91ms/step - loss: 0.0236 - accuracy: 0.9937 - val_loss: 0.0546 - val_accuracy: 0.9871
Epoch 8/10
1050/1050 [==============================] - 95s 91ms/step - loss: 0.0210 - accuracy: 0.9944 - val_loss: 0.0496 - val_accuracy: 0.9899
Epoch 9/10
1050/1050 [==============================] - 97s 92ms/step - loss: 0.0186 - accuracy: 0.9954 - val_loss: 0.0580 - val_accuracy: 0.9880
Epoch 10/10
1050/1050 [==============================] - 96s 91ms/step - loss: 0.0192 - accuracy: 0.9957 - val_loss: 0.0562 - val_accuracy: 0.9900

## Read a test file

In [75]:
df = pd.read_csv('C:/Users/taihs/OneDrive/Documents/digit recognizer/test.csv')

In [76]:
df.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
X_test = (df.iloc[:,0:].values).astype('float32') # all pixel values

In [78]:
X_test = X_test.reshape(X_test.shape[0], 28, 28,1)
X_test.shape

(28000, 28, 28, 1)

## Predict the results

In [79]:
y_predict = model.predict_classes(X_test)

In [80]:
print(y_predict)

[2 0 9 ... 3 9 2]

In [81]:
final = pd.DataFrame({'ImageId': list(range(1,len(y_predict)+1)), 'Label':y_predict})

In [82]:
final.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [83]:
final.to_csv('final.csv',index=False)